<%= stylesheet_link_tag "pages/form" %>
<%= render(Organisms::Header::NavbarComponent.new()) %>
<div class="outer-container">
    <div class="main-container">
        <div class="form-buttons">
            <button id="show-post-form" class="btn selected">Criar Postagem</button>
            <button id="show-community-form" class="btn">Criar Comunidade</button>
        </div>
        <div class="form-body-container">
            <div class="form-container" id="post-form">
                <%= form_with(model: @postagem, url: create_social_content_path, method: :post, local: true) do |form| %>
                    <h1>Crie uma Postagem</h1>
                    <div class="fields">
                        <%= render Molecules::FormField::FormFieldComponent.new(
                            f: form,
                            name: "titulo",
                            label: "Título",
                            errors_messages: @postagem.errors["titulo"],
                            placeholder: "Título da Postagem",
                            type: "text_field",
                            value: @postagem.send("titulo"),
                            is_field_invalid: @postagem.errors[:titulo].any?,
                            auto_complete: "titulo"
                        ) %>
                        <!-- Preciso criar um customizado para isso -->
                        <%= render Molecules::FormField::FormFieldComponent.new(
                            f: form,
                            name: "conteudo",
                            label: "Conteúdo",
                            errors_messages: @postagem.errors["conteudo"],
                            placeholder: "Conteúdo da Postagem",
                            type: "text_area",
                            value: @postagem.send("conteudo"),
                            is_field_invalid: @postagem.errors[:conteudo].any?,
                            auto_complete: "conteudo"
                        ) %>
                    </div>
                    <%= render Atoms::CustomButton::CustomButtonComponent.new(name: "Criar Postagem") %>
                <% end %>
            </div>
        
            <div class="form-container" id="community-form" style="display: none;">
                <%= form_with(model: @comunidade, url: create_social_content_path, method: :post, local: true) do |form| %>
                    <h1>Crie uma Comunidade</h1>
                    <div class="fields">
                        <%= render Molecules::FormField::FormFieldComponent.new(
                            f: form,
                            name: "nome",
                            label: "Nome",
                            errors_messages: @comunidade.errors["nome"],
                            placeholder: "Nome da Comunidade",
                            type: "text_field",
                            value: @comunidade.send("nome"),
                            is_field_invalid: @comunidade.errors[:nome].any?,
                            auto_complete: "nome"
                        ) %>
                        <%= render Molecules::FormField::FormFieldComponent.new(
                            f: form,
                            name: "descricao",
                            label: "Descrição",
                            errors_messages: @comunidade.errors["descricao"],
                            placeholder: "Descrição da Comunidade",
                            type: "text_area",
                            value: @comunidade.send("descricao"),
                            is_field_invalid: @comunidade.errors[:descricao].any?,
                            auto_complete: "descricao"
                        ) %>
                    </div>
                    <%= render Atoms::CustomButton::CustomButtonComponent.new(name: "Criar Comunidade") %>
                <% end %>
            </div>
        </div>
    </div>
</div>