<div id="communities_frame">
  <% if communities.present? %>
    <% communities.each do |comunidade| %>
      <div class="community" id="community-<%= comunidade.id %>">
      <%= link_to comunidade_path(comunidade.id), class: "icon-link" do %>
      <%= inline_svg 'icons/ComunidadeImagePerfilPlaceHolder.svg', alt: "Home Icon", class: "avatar" %>
      <% end %>
        <div class="community-info">
          <span class="name"><%= comunidade.nome %></span>
          <p class="last-activity"><%= comunidade.ultima_atividade %></p>
          <% if comunidades_participadas.include?(comunidade.id) %>
            <%= button_to 'Sair', join_comunidade_path(comunidade), method: :post, remote: true, class: 'btn btn-danger', data: { turbo_stream: true } %>
          <% else %>
            <%= button_to 'Participar', join_comunidade_path(comunidade), method: :post, remote: true, class: 'btn btn-success', data: { turbo_stream: true } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhuma comunidade encontrada.</p>
  <% end %>
</div>
  