<turbo-stream action="update" target="communities-result">
  <template>
    <% if @comunidades.any? %>
      <% @comunidades.each do |community| %>
        <div id="community-<%= community.id %>" class="item">
          <%= image_tag("icons/PerfilImagePlaceHolder.svg", alt: "Avatar de Enzo Alberix", class: "avatar") %>
          <div class="info">
            <p><%= community.nome %></p>
            <span>Enviou um pedido de amizade!</span>
            <div class="confirmation-buttons">
              <button class="btn">Aceitar</button>
              <button class="btn">Recusar</button>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="not-found">Nenhuma comunidade contendo "<%= @query %>" foi encontrada.</p>
    <% end %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="users-result">
  <template>
    <% if @usuarios.any? %>
      <% @usuarios.each do |user| %>
        <%= render partial: "home/friend_item", formats: [:html],
          locals: { user: user, current_usuario: current_usuario } %>
      <% end %>
    <% else %>
      <p class="not-found">Nenhum usuário contendo "<%= @query %>" foi encontrado.</p>
    <% end %>
  </template>
</turbo-stream>
