<%= stylesheet_link_tag "pages/form_alt_button" %>
<%= stylesheet_link_tag "pages/search_page" %>

<div class="main-container">
  <%= render(Organisms::Header::NavbarComponent.new()) %>
  <div class="search-main-container">
    <%= form_with url: perform_search_path, method: :get, remote: true, class: "search-form", data: { turbo_stream: true }, id: "search-form" do |form| %>
      <%= render Molecules::FormField::FormFieldComponent.new(
        f: form,
        name: "query",
        label: "Buscar",
        errors_messages: [],
        placeholder: "Buscar...",
        type: "text_field",
        value: "",
        is_field_invalid: false,
        auto_complete: "query",
        id: "search-query"
      ) %>
    <% end %>
    
    <div class="results-container">
      <div class="form-buttons">
        <button id="show-communities-results" class="btn selected">Comunidade</button>
        <button id="show-users-results" class="btn">Usuários</button>
      </div>
      <div id="search-results-container">
        <div id="communities-result">
          <% if @comunidades.any? %>
            <% @comunidades.each do |community| %>
              <div id="community-<%= community.id %>" class="item">
                <%= image_tag("icons/PerfilImagePlaceHolder.svg", :alt => "Avatar da Comunidade #{community.nome}", :class => "avatar") %>
                <div class="info">
                  <p><%= community.nome %></p>
                  <span>Enviou um pedido de amizade!</span>
                  <div class="confirmation-buttons">
                    <button class="btn">Aceitar</button>
                    <button class="btn">Recusar</button>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="not-found">Nenhuma comunidade contendo "<%= @query %>" foi encontrada.</p>
          <% end %>
        </div>
        <div class="vl"></div>
        <div id="users-result">
          <% if @usuarios.any? %>
            <% @usuarios.each do |user| %>
              <%= render partial: "home/friend_item", locals: { user: user, current_usuario: current_usuario } %>
            <% end %>
          <% else %>
            <p class="not-found">Nenhum usuário contendo "<%= @query %>" foi encontrado.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

<a href="#search-query" class="go-back-to-top">
  <%= inline_svg 'icons/DoubleArrowUp.svg', alt: "Messages", class: "icon" %>
</a>