<%= render(Organisms::Header::NavbarComponent.new()) %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= form_with url: search_community_path, method: :get, remote: true, class: "search-form", data: { turbo_stream: true }, id: "community-search-form" do %>
  <div class="search-bar">
    <%= text_field_tag :query, params[:query], placeholder: "Search Communities or Users", class: "search-input" %>
    <%= submit_tag "Search", class: "search-button" %>
  </div>
<% end %>

<h1>Search Results</h1>

<div id="search-container">
    <% if @comunidades.any? || @usuarios.any? %>
    <h2>Communities</h2>
    <% @comunidades.each do |community| %>
      <div class="community-item">
        <p><%= community.nome %></p>
      </div>
    <% end %>
  
    <h2>Users</h2>
    <% @usuarios.each do |user| %>
        <div id="user-<%= user.id %>" class="user-item">
            <p><%= user.nome %></p>
            <%= button_to 'Pedir Amizade', send_friend_request_path(user), method: :post, remote: true, class: '', data: { turbo_stream: true } %>
        </div>
    <% end %>
  <% else %>
    <p>No results found for "<%= @query %>".</p>
  <% end %>
</div>

